.header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 35px;
}

.shoe-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.metamask-container {
  position: absolute;
  left: 80%;
}

.metamask {
  background-color: #660000;
  border: none;
  color: white;
  padding: 15px 32px;
}

.adventure-container {
  position: fixed;
  margin-top: 30px;
}

body{
  background-color: #ffcccc;
}
